<article class="welcome-page">
  <header class="text-center middle-container">
    <h1 class="logo text-uppercase">
      breathe
      <span class="logo-highlight">team</span>
    </h1>
    <p>
      Software Engineers in training
    </p>
  </header>

  <section class="middle-container">
    <header>
      <h5>Goal</h5>
      <p>
        Get an engineering job. Until then learn together and help each other out.
      </p>
    </header>
  </section>

  <section class="middle-container">
    <header>
      <h5>Github Repos</h5>
      <ul>
        <li>
          <a href="https://github.com/breatheteam" target="_blank">Breathe Team Org</a>
        </li>
        <li>
          <a href="https://github.com/breatheteam/interview_pipeline"
             target="_blank">
            Interview Pipeline
          </a>
        </li>
      </ul>
    </header>
  </section>

  <section class="middle-container">
    <header>
      <h5>Members</h5>
      <ul>
        <li>
          Lead: <a href="https://github.com/kaorudev" target="_blank">Kaoru Kohashigawa</a>
        </li>
        <li>
          Mentor: <a href="https://github.com/techtolentino"
             target="_blank">
             Randy Tolentino
          </a>
        </li>
        <li>
          <a href="https://github.com/varghes1" target="_blank">
            Bijoy Varghese
          </a>
        </li>
        <li>
          <a href="https://github.com/jmundraw" target="_blank">
            Jackie Mundrawala
          </a>
        </li>
        <li>
          <a href="https://github.com/grandtheft-spaceship" target="_blank">
            Justin Dizon
          </a>
        </li>
      </ul>
    </header>
  </section>
</article>
